<nav th:fragment="main_navFragment">
<html lang="en">
<body>
    <div class="container">
        <div class="nav-scroller mt-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/cpu">CPU</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/gpu">GPU</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/ssd">SSD</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/hdd">HDD</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/ram">RAM</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/computercase">케이스</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/mainboard">메인보드</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/power">파워</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/cooler">쿨러</a>
                <a class="p-2 m-1 btn btn-outline-secondary btn-sm" style="width: 4.7rem;" href="/monitor">모니터</a>
            </nav>
        </div>
    </div>
    <br/>
</body>

</html>
</nav>
