<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/mypage.css">
       
        <title>마이페이지</title>

    </head>
    <body>
    <header>마이페이지</header><br><hr><br>
    <div class="center">
        <p>접속한계정: </p><br><br>
        <button class="pwchange" onclick="location.href='/pwchange'">비밀번호 변경</button><br><br><br>
        <button class="likes" onclick="location.href='/cart'">찜 목록</button><br><br><br>
        <button class="home" onclick="location.href='/'">메인페이지로</button><br><br><br>
        <b class="remove">
        <a href="" class="withdrawal">계정탈퇴</a></b><br><br>
    </div>
    </body>
</html>